html, body{
    overflow-x: hidden;
    background-image:url(./imagenes/rectangulo5.png);
    
}

h1 {
    font-family: rum raisin;
    color:rgba(196, 177, 83, 1);
    text-align: center;
    font-size: 96px;
    margin: 0;
    padding-top: 80px; 
}

button {
    font-family: rum raisin;
    width: 254px;
    height: 63px;
    border-radius: 30px ;
    font-size: 36px ;
    
}


.boton1{
    background-color: rgba(156, 168, 190, 1);
    border: none;
    cursor: pointer;
}

.boton2{
    background-color: rgba(131, 121, 17, 1);
    border: none;
    cursor: pointer;
}

.boton3{
    background-color: rgba(76, 69, 47, 1);
    border: none;
    cursor: pointer;
}

header{
    background-repeat: no-repeat;
    height: 371px;
}

.container1{
    display: flex;
    justify-content: space-around;
}


form{
    font-family: rum raisin;
    font-size: 36px;
    text-align: center; 
    margin-top: 70px;
    max-width: 500px;
}

.fo{
    width: 434px;
    height: 81px;
    border-radius: 30px;
    margin: 20px;
    padding-left: 40px;
    border: 0;
}


.fobot{
    width: 254px;
    height: 63px;
    border-radius: 30px;
    margin: 20px;
    border: 0;
    background-color: rgba(131, 121, 17, 1);
    cursor: pointer;
}

.botones1{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.mapa{
    margin-top: 85px;
    border-radius: 10px;
}

p{
    font-family: rum raisin;
    color: white;
    font-size: 32px;
}